{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>

  <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="brand">
      <i class="fa-solid fa-warehouse"></i>
      <span>Inventory</span>
    </div>

    <nav class="menu">
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="{% url 'add_product' %}">Add Product</a>
      <a class="active" href="{% url 'inventory' %}">Inventory</a>
      <a href="{% url 'logout' %}">Logout</a>
    </nav>

  </aside>

  <!-- MAIN -->
  <main class="main">

    <header class="topbar">
      <div>
        <h2>Inventory Management</h2>
        <p>Track all warehouse stock in real time</p>
      </div>
    </header>
    <section class="panel">

  <h3>Add New Product</h3>

  {% if messages %}
    {% for message in messages %}
      <p class="msg">{{ message }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <label>Product Name</label>
    {{ form.name }}
    

    <label>SKU</label>
    {{ form.sku }}

    <label>Quantity</label>
    {{ form.quantity }}

    <button type="submit">Save Product</button>

  </form>

</section>

    <!-- LOW STOCK ALERT -->
    {% if low_stock %}
    <div class="panel">
      <h3>⚠ Low Stock Alert</h3>
      <ul>
        {% for p in low_stock %}
          <li>{{ p.name }} ({{ p.quantity }} left)</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!-- INVENTORY TABLE -->
    <section class="panel">

      <h3>All Products</h3>

      <table>

        <thead>
          <tr>
            <th>Product</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Date Added</th>
          </tr>
        </thead>

        <tbody>

          {% for p in products %}
          <tr>

            <td>{{ p.name }}</td>
            <td>{{ p.sku }}</td>
            <td>{{ p.quantity }}</td>

            <td>
              {% if p.quantity == 0 %}
                <span class="badge danger">Out of Stock</span>
              {% elif p.quantity <= 5 %}
                <span class="badge warning">Low Stock</span>
              {% else %}
                <span class="badge success">Available</span>
              {% endif %}
            </td>

            <td>{{ p.created_at }}</td>

          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No products found</td>
          </tr>
          {% endfor %}

        </tbody>

      </table>

    </section>

  </main>

</div>

</body>
</html>